<section id="about" class="py-20 px-12 bg-primary-dark text-center ">
  <h2 class="text-3xl font-semibold text-primary-light mb-6">About Me</h2>
  <p class="max-w-3xl mx-auto text-gray-300 leading-relaxed">
    I’m a Computer Science Engineering student from FISAT, Ernakulam. I enjoy creating applications that combine clean UI with logical problem-solving.
    My interests include full-stack development, AI-driven systems, and automation.
  </p>
  <div class="mt-6 text-sm text-gray-400">
    <p>📍 Pattimattom, Kerala | 🎓 B.Tech in CSE (2025) | ✉️ nandakishorek2002{{'@'}}gmail.com </p>
  </div>
</section>
