<!-- navbar.component.html -->
<nav class="flex justify-between items-center px-10 py-4 bg-transparent 
fixed top-0 w-full z-50  bg-gradient-to-b from-black/80 to-transparent text-white">
  <div class="flex space-x-2 items-center">
  <img src="assets/logo.png" alt="img" class="w-10" />
  <div class="text-lg font-semibold tracking-wide ">Nandakishore K</div>
  </div>
  <div class="flex space-x-8">
    <a href="#home" class="hover:text-purple-400">Home</a>
    <a href="#projects" class="hover:text-purple-400">Projects</a>
    <a href="#about" class="hover:text-purple-400">About</a>
    <a href="#contact" class="hover:text-purple-400">Contact</a>
  </div>
</nav>
