<section 
  id="home" 
  class="relative flex flex-col-reverse md:flex-row justify-between items-center 
         h-auto md:h-[35vw] lg:h-[40vw] px-6 md:px-16 py-12 md:py-0 
         bg-gradient-to-br from-[#1f0035] to-[#3f0071] overflow-hidden"
>
  <!-- Left Text -->
  <div class="text-center md:text-left md:max-w-lg z-20 mt-10 md:mt-0">
    <h1 class="text-4xl md:text-6xl lg:text-8xl font-bold text-white whitespace-nowrap">
      Nandakishore K
    </h1>
    <h2 class="text-xl md:text-2xl text-purple-300 mt-2">Software Developer</h2>
    <p class="text-gray-400 mt-4 text-sm md:text-base">
      Passionate about building efficient web and vision-based applications.
    </p>
    <div class="mt-6 space-x-3">
      <a href="assets/Nandakishore_K_Resume.pdf" download>
        <button class="bg-purple-600 px-4 py-2 rounded hover:bg-purple-700 text-sm md:text-base">My Resume</button>
      </a>
      <a href="#contact">
        <button class="border border-purple-400 px-4 py-2 rounded hover:bg-purple-800 text-sm md:text-base">Contact Me</button>
      </a>
    </div>
  </div>



  <!-- Right Image -->
  <div class="flex justify-center md:justify-end relative z-10">
    <img 
      src="assets/nandakishore.png" 
      alt="Profile" 
      class="w-48 w-[60vw] md:w-[40vw] lg:w-[45vw] max-h-[140vh] object-contain "
    >
  </div>
</section>

